/*=====start Navigation =====*/
.navigating{
	width: 100%;
	height: 50px;
	border: 1px solid #8B0000;
	border-radius: 15px 50px 30px;
	display: flex; /*===== flex property===*/
	padding: 10px;
}
.logo{
	width: 20%;
}
.logo img{
	width: 50%;

}
.links{
	width: 80%;
	margin-right: 10px;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}
nav{
	display: block;
}

li{
	float: right;
}
li a{
	 display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: georgia;
    font-size: 15px;
    border-radius: 15px 50px 30px;
    background: #8B0000;
    padding: 20px; 
    width: 100px;
    height: 5px; 
    color: white;
}
.active {
    background-color: #4CAF50;
}
li a:hover:not(.active) {
    background-color: #8B0000;
}

/* ===== end Navigation ==== */

/* === slider ===*/
.slider{
	margin-top: 5px;
	max-width: 100%;
    height: auto;
    position: relative;

}
.slider img{
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.imgtxt{
	 position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color: #8B0000;
    font-family: arial;
    font-style: italic;
}
/* === end slider ===*/

hr{
	border-top: 3px solid #8B0000;

}
.colunming{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	padding: 10px;
}
/*=====  css cards start ===*/
.colunming .colimg1{
	width: 80%;
  	background-color: white;
  	box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin: 10px;
}
.colunming .colimg2{
	width: 80%;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin: 10px;
}
.colunming .colimg3{
	width: 80%;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin: 10px;
}
.colunming img{
	width: 100%;

}
.colunming .cardtxt{
	text-align: center;
  	padding: 10px 20px;
  	font-family: arial;
  	font-style: bold;
  	font-size: 15px;
}
/* ===== end of cards ====*/

/* ===== form ====*/
.para{
	display: flex;
	width: 100%;
}
.para .paragraph{
	width: 60%;
}
.para .formforpara{
	width: 30%;
	padding: 10px;
}
.formforpara{
	 background: #f1f1f1;
  	font-family: 'Merriweather', sans-serif;
  	padding: 1em;
  	display: flex;
}

form{
	max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
 textarea {
 	margin-top: 20px;
      height: 80px;
      border-radius: 5px;
      border-color: #800000;
  }
input{
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
	width: 100%;
	height: 20px;
	border-color: #800000;
}
select{
	border-radius: 5px;
	border-color: #800000;
	margin-top: 5px;
	margin-right: 5px;
	width: 100%;
	height: 30px;
}
#input-submit{
	color: white; 
     background-color: #800000; 
     border-radius: 5px;
     width: 100px;
     height: 30px;
     border-color: #800000;
}
/* ===== end form ====*/

/* ==== footer ====*/
#footer{
	margin-top: 10px; 
  background-color: #212121;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
}
/* === end of footer ====*/